# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE / editor files
.vscode/
.idea/
*.swp
.DS_Store